<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="val" @keyup.enter="add">
    <ul>
        <li v-for="(list,index) in arr">{{ list }} <button @click="del(index)">del</button></li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            arr:[],
            val:''
        },
        methods:{
            add(){
                this.arr.unshift(this.val);
                this.val = '';
            },
            del(i){
               this.arr = this.arr.filter((item,index) => index !== i);
            }
        }
    });
</script>
</body>
</html>