.dialog-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=30);
	opacity: .3;
}
.dialog {
	position: fixed;
	left: 50%;
	top: 50%;
}
.dialog-wrap {
	position: relative;
	background: #FFFFFF;
	opacity: 0.7;
	background-clip: padding-box;
	text-align: center;
	box-shadow: 1px 1px 50px rgba(0, 0, 0, .3);
}
.dialog-header{
	height: 44px;
	line-height: 44px;
}
.dialog-footer {
	height: 44px;
	line-height: 44px;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.dialog-footer a {
	display: block;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.dialog-ok{
	background: #04B7FB;
}
.dialog-cancel{
	background: #10CAA5;
}
