<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<title>touch</title>
<style>
.box{
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #10ccae;
    color: #fff;
    margin-bottom: 10px;
}
</style>
</head>
<body>
    <div class="box" id="tap">tap</div>
    <div class="box" id="longTap">longTap</div>
    <div class="box" id="doubleTap">doubleTap</div>
    <div class="box" id="swipeLeft">swipeLeft</div>
    <div class="box" id="swipeRight">swipeRight</div>
    <div class="box" id="swipeUp">swipeUp</div>
    <div class="box" id="swipeDown">swipeDown</div>
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="gesture.js"></script>
<script type="text/javascript">
$(document).on("tap","#tap",function(){
    alert('tap')
})
.on("swipeUp","#swipeUp",function(){
    alert('swipeUp')
})
.on("swipeDown","#swipeDown",function(){
    alert('swipeDown')
})
.on("swipeLeft","#swipeLeft",function(){
    alert('swipeLeft')
})
.on("swipeRight","#swipeRight",function(){
    alert('swipeRight')
})
.on("longTap","#longTap",function(){
    alert('longTap')
})
.on("doubleTap","#doubleTap",function(){
    alert('doubleTap')
})
</script>
</body>
</html>
