<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
      .col{
          -webkit-column-count: 2;
          -moz-column-count: 2;
          -webkit-column-gap: 0;
          -moz-column-gap: 0;
          border: none;
      }
        .r{
            background: #e4e4e4;
            text-align: center;
            height: 50px;
        }
        .r.active{
            border-bottom: 1px solid #10CAA5;
        }
    </style>
</head>
<body>
<div class="col">
     <div class="r">qwew</div>
    <div class="r active">qweqwe</div>
</div>
</body>
</html>